@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins:wght@100;200;300;400;600;700&family=Silkscreen&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  /* background: hsl(120 75% 50% / 1); */
  background: none;
}

::-webkit-scrollbar-thumb {
  /* background: hsl(120 100% 20% / 1); */
  background: hsl(120 75% 50% / 1);
  border-radius: 100vw;
}

html {
  scroll-behavior: smooth;
}

body {
  /* background-image: url(images/weeklybackground.jpg); */
  background-color: black;
  /* background-size: cover;
  background-position: center; */
}

/* top bar start */

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 100px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  position: relative;
  transition: .5s;
}

nav ul li a:hover {
  color: yellow;
  /* transform: translateY(-5px); */
}

nav ul li a:active {
  opacity: 0.5;
}

#sidemenu {
  display: flex;
  justify-content: center;
  color: rgb(226, 226, 226);
  text-shadow: 1px 1px 2px #000;
  background-color: rgb(0, 0, 0, 0.2);
}

.logo {
  display: none;
}
/* top bar end */

.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

/* week start */
.one-sentence {
  text-align: center;
  margin-top: 300px;
  text-shadow: 1px 1px 4px #000;
}

.one-sentence h1 {
  font-size: 100px;
  color: white;
}

.one-sentence p {
  color: rgb(226, 226, 226);
}
/* week end */

/* two start */
.two {
  background-color: #a0d2eb;
  display: flex;
  flex-direction: column;
}

.days {
  font-size: 50px;
}

.four-image {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 1fr));
  column-gap: 350px;
  margin-top: 10px;
  text-align: center;
}

.two p {
  width: 500px;
}

.school-img {
  width: 500px;
  border-radius: 15px;
}
/* two end */

/* three start */
.three {
  background-color: #e5eaf5;
  display: flex;
  flex-direction: column;
}

.two-image {
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 1fr));
  column-gap: 350px;
  margin-top: 100px;
  text-align: center;
  /* flex-grow: 1; */
}

.three p {
  width: 500px;
}

.sentence {
  flex-grow: 1;
}

.sentence p {
  display: block;
  background: #262626;
  color: white;
  margin-top: 100px;
  padding: 40px;
  font-size: 17px;
  font-weight: 300;
  border-radius: 10px;
  text-align: center;
}
/* three end */

/* four start */
.four {
  background-color: #d0bdf4;
  display: flex;
  flex-direction: column;
}

.sentence-only {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.sentence-only p {
  background: #262626;
  color: white;
  margin-top: 100px;
  padding: 40px;
  font-size: 17px;
  font-weight: 300;
  border-radius: 10px;
  text-align: center;
}
/* four end */

/* five start */
.five {
  background-color: #8458b3;
  display: flex;
  flex-direction: column;
}

.five p {
  width: 500px;
}
/* five end */

section.one{
  height: 100vh;
  scroll-snap-align: start;
  padding: 10px 10%;
}

section.two, .three, .four, .five, .seven, .eight, .nine {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  padding: 10px 10%;
}



.monday {
  color: #a0d2eb;
}
.tuesday {
  color: #e5eaf5;
}
.wednesday {
  color: #d0bdf4;
}
.thursday {
  color: #8458b3;
}
.friday {
  color: #494d5f;
}

.six {
  background-color: #494d5f;
  color: white;
}
.seven {
  background-color: #a28089;
}
.eight {
  background-color: #00ddff;
}
.nine {
  background-color: #0049b7;
}

a {
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 2px black;
  text-align: center;
}

.double-seven {
  display: flex;
}
.previous {
  width: 50%;
}
.previous .eight, .next .nine, .firstlast-next .seven{
  display: flex;
  flex-direction: column;
}
.double-seven .fas, .firstlast-next .fas {
  font-size: 70px;
  margin-bottom: 30px;
}
.next {
  width: 50%;
}

/* analysis start */
section.six {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-snap-align: start;
  padding: 10px 10%;
}

.analysis-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 100px;
}
.analysis-container div {
  background: #262626;
  color: white;
  padding: 40px;
  font-size: 17px;
  font-weight: 300;
  border-radius: 10px;
}
.analysis-container div h2{
  color: yellow;
}
.second-title {
  margin-bottom: 20px;
}

/* analysis end */


.one .fa {
  display: none;
}

@media only screen and (max-width: 600px) {
  nav {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .logo {
    display: block;
    font-size: 20px;
    color: white;
  }

  .logo span {
    color: red;
  }

  .one .fa {
    display: block;
    font-size: 20px;
    color: white;
    margin-right: auto;
  }

  .one ul {
    background: #ff004f;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }

  .one ul li {
    display: block;
    margin: 25px;
  }

  .one ul .fa {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }

  #sidemenu {
    display: block;
    background: #ff004f
  }

  /* week start */
  .one-sentence {
    margin-top: 200px;
  }

  .one-sentence h1 {
    font-size: 50px;
    color: white;
  }
  /* week end */

  section.one, .two, .three, .four, .five, .seven, .eight, .nine {
    padding: 0 5%;
  }

  /* two start */
  .days {
    font-size: 20px;
  }

  .dates {
    font-size: 15px;
  }
  
  .four-image {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  
  .two p {
    width: 100%;
    font-size: 10px;
  }
  
  .school-img {
    width: 150px;
    border-radius: 5px;
  }
  /* two end */

  /* three start */
  .two-image {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    row-gap: 30px;
    margin-top: 100px;
  }

  .three p {
    width: 100%;
    font-size: 10px;
  }

  .sentence p {
    margin-top: 30px;
    padding: 10px;
    font-size: 10px;
    border-radius: 5px;
  }
  /* three end */

  /* four start */
  .sentence-only p {
    padding: 10px;
    font-size: 10px;
    border-radius: 5px;
  }
  /* four end */

  /* five start */
  .five p {
    width: 100%;
    font-size: 10px;
  }
  /* five end */

  /* analysis start */
  .analysis-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
    margin-top: 10px;
  }
  .analysis-container div {
    padding: 10px;
    font-size: 10px;
    border-radius: 5px;
  }
  .analysis-container div h2{
    color: yellow;
  }
  .second-title {
    margin-bottom: 0;
  }
  /* analysis end */

  /* next page start*/
  .firstlast-next .fas {
    font-size: 25px;
    margin-bottom: 10px;
  }
  /* next page end */
}