*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/backgroundweekly.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

/* header start */
.red-color {
  color: #ff0000;
}

.logo {
  font-size: 30px;
  color: #fff;
}

nav {
  display: flex;
  padding: 1% 5%;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 40px;
  position: relative;
}

.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  text-shadow: 1px 1px 4px #000;
}

.nav-links ul li::after {
  content: '';
  width: 0;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: .5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  font-size: 150px;
  font-weight: 800;
  text-shadow: 1px 1px 4px #000;
}

.text-box p {
  margin: 10px 0 40px;
  font-size: 16px;
  color: #fff;
  text-shadow: 1px 1px 4px #000;
}

nav .fa {
  display: none;
}
/* header end */

@media(max-width: 1440px) {
  /* header start */
  .nav-links ul li {
    padding: 8px 25px;
  }

  .nav-links ul li a {
    font-size: 13px;
  }

  .text-box h1 {
    font-size: 100px;
  }
  /* header end */

}

@media(max-width: 700px) {
  /* header start */
  *{
    overflow-x: hidden;
  }

  .logo {
    font-size: 20px;
    color: #fff;
  }

  .nav-links {
    position: absolute;
    background: #000000;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }

  .nav-links ul {
    padding: 30px;
  }

  .nav-links ul li {
    display: block;
    padding: 15px 0;
  }

  nav .fa {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }

  .text-box h1 {
    font-size: 50px;
  }

  .text-box p {
    font-size: 13px;
  }
  /* header end */
}