:root {
  --margin-30: 30px;
  
  --gap-1: 10px;

  --flexbasis-35: 35%;
  --flexbasis-40: 40%;
  --flexbasis-60: 60%;
  --flexbasis-70: 70%;

  --paragraph-image-color: #cacaca;

  --borderradius-1: 10px;

  --widthvideo-1: 70%;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 60%);
  border-radius: 100vw;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #9fd3c7;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../week11/images/1.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.one-row {
  margin-top: 1%;
  display: flex;
  justify-content: center;
}

.header-days {
  font-size: 50px;
  font-weight: 600;
}

.paragraph-dates {
  color: #777;
  font-size: 20px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
  margin-bottom: 4%;
}

.information-titles {
  color: #ffff00;
  margin-bottom: 5px;
}

.information-paragraph {
  line-height: 22px;
}

/* HEADER */
.red-color {
  color: #ff0000;
}

.logo {
  font-size: 30px;
  color: #fff;
}

nav {
  display: flex;
  padding: 1% 5%;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 40px;
  position: relative;
}

.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  text-shadow: 1px 1px 4px #000;
}

.nav-links ul li::after {
  content: '';
  width: 0;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: .5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  font-size: 150px;
  font-weight: 800;
  text-shadow: 1px 1px 4px #000;
}

.text-box p {
  margin: 10px 0 40px;
  font-size: 16px;
  color: #fff;
  text-shadow: 1px 1px 4px #000;
}

nav .fa {
  display: none;
}

/* week11 */
.week-eleven {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.week-eleven .col-1 {
  flex-basis: var(--flexbasis-35);
  background: #385170;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 12px 12px 20px 12px;
  box-sizing: border-box;
}

.week-eleven .img-paragraph {
  width: 100%;
  border-radius: var(--borderradius-1);
}

.week-eleven .img-paragraph img {
  width: 100%;
  border-radius: var(--borderradius-1);
}

.week-eleven .img-paragraph p {
  color: var(--paragraph-image-color);
}

/* PAGES */
.container-next-previous {
  display: flex;
  justify-content: space-between;
}

a.next-page {
  width: 100%;
  text-decoration: none;
}

.next-page section{
  width: 80%;
  margin: 100px auto 100px;
  text-align: center;
  padding: 50px 20px 40px;
  background: #262626;
  border-radius: 20px;
  color: #fff;
  text-shadow: 1px 1px 4px black;
  text-align: center;
  transition: .5s;
}

.next-page section.previous:hover{
  box-shadow: 0 0 20px 0px rgb(255, 0, 0);
  transform: translateY(-5px);
  color: #ff0000;
}

.next-page section.next:hover{
  box-shadow: 0 0 20px 0px rgb(30, 255, 0);
  transform: translateY(-5px);
  color: #00ff00;
}

.next-page .fas {
  font-size: 40px;
  margin-bottom: 20px;
}

.next-page h1 {
  font-size: 35px;
}

/* ARROWUP */
.to-top {
  position: fixed;
  bottom: 16px;
  right: 32px;
  font-size: 32px;
  color: #142d4c;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all .5s;
}

.to-top.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}


@media(max-width: 1440px) {
  /* HEADER */
  .nav-links ul li {
    padding: 8px 25px;
  }

  .nav-links ul li a {
    font-size: 13px;
  }

  .text-box h1 {
    font-size: 100px;
  }

}

@media(max-width: 700px) {
  .row, .one-row {
    flex-direction: column;
  }

  /* HEADER */
  *{
    overflow-x: hidden;
  }

  .logo {
    font-size: 20px;
    color: #fff;
  }

  .nav-links {
    position: fixed;
    background: #000000;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }

  .nav-links ul {
    padding: 30px;
  }

  .nav-links ul li {
    display: block;
    padding: 15px 0;
  }

  nav .fa {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }

  .nav-links ul li:hover::after {
    width: 0;
  }

  .text-box h1 {
    font-size: 50px;
  }

  .text-box p {
    font-size: 13px;
  }

  /* PAGES */
  .container-next-previous {
    flex-direction: column;
  }

  .next-page section.previous{
    margin: 50px auto 0;
  }

  .next-page section.next{
    margin: 20px auto 50px;
  }
}